<p style="text-align:right;"><a href="{{ '/' | relative_url }}">main</a> | <a href="{{ '/essays.html' | relative_url }}">essays</a> | <a href="https://github.com/pseudoeffective">github</a>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
